* {margin: 0;}
input {
  &::placeholder { color: white; opacity: 1; font-family: 'Poppins';}
  &:-ms-input-placeholder { color: white; font-family: 'Poppins';}
  &::-ms-input-placeholder { color: white; font-family: 'Poppins';}
  &:focus {outline: none;}
}
html, body {
  margin: 0; padding: 0;
  font-family: 'Poppins';
}
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
-ms-overflow-style: none;
}

@mixin decal-shadow ($width, $height, $sW: 10px, $sS: 0px) {
  background-color: transparent;
  box-shadow: inset 0 0 $sW $sS rgba(0,0,0,0.2);
  position: absolute;
  width: $width;
  height: $height;
}

@mixin centerAbs ($width: auto, $height: auto) {
  position: absolute;
  top: 0; right: 0;
  left: 0; bottom: 0;
  margin: auto;
  width: $width;
  height: $height;
}

@mixin logoDecal ($origin, $rotate, $left: unset, $right: unset, $top: unset, $bottom: unset) {
  transform-origin: $origin;
  transform: rotate($rotate);
  top: $top; 
  bottom: $bottom; 
  left: $left; 
  right: $right; 
}

// #5824D4
// #6121E9
// #7462A5
// #EDE6F2
// #A082F4
// #DF93FC
// #9AC3FA

.title {
  // @include centerAbs(500px, 250px);
  // color: white;
  // .title-decal {
  //   background-color: white;
  //   position: absolute;
  //   box-shadow: -50px 50px 5px 0px rgba(0,0,0,0.2);
  // }
  // .top, .bottom {
  //   width: 500px; height: 20px;
  // }
  // .left, .right {
  //   width: 20px; height: 210px;
  //   top: 20px;
  // }
  // .top {top: 0;}
  // .bottom {bottom: 0;}
  // .left {left: 0;}
  // .right {right: 0;}
  // h1 {
  //   width: 500px;
  //   height: 250px;
  //   line-height: 250px;
  //   text-align: center;
  //   font-size: 10rem;
  // }
}

// navbar
.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
  .logo {
    margin-top: 20px;
    position: absolute;
    width: 150px;
    text-align: center;
    right: 20px;
    p {
      color: white;
      font-size: 2rem;
      line-height: 50px;
    }
    div {
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: white;
      margin: auto;
      &.tr {@include logoDecal(top right, -45deg, unset, 0, 0, unset);}
      &.tl {@include logoDecal(top left, 45deg, 0, unset, 0, unset);}
      &.br {@include logoDecal(bottom right, 45deg, unset, 0, unset, 0);}
      &.bl {@include logoDecal(bottom left, -45deg, 0, unset, unset, 0);}
    }
  }
}

.body-wrapper {
  width: 100%;
  height: 400vh;

  .slide {
    width: 100vw;
    height: 100vh;
    position: relative;
    &.one {
      background: #5824D4;
      .decals {
        @include centerAbs(100vw, 100vh);
        .shadows {
          @include centerAbs(100vw, 100vh);
          .shadow-01 {
            @include decal-shadow(200px, 200px, 15px, 5px);
            left: 50px; top: 50px;
          }
          .shadow-02 {
            @include decal-shadow(150px, 150px, 15px, 5px);
            left: 250px; top: 250px;
          }
          .shadow-03 {
            @include decal-shadow(200px, 200px, 15px, 5px);
            left: 50px; top: 400px;
          }
          .shadow-04 {
            @include decal-shadow(300px, 300px, 15px, 5px);
            left: 550px; top: 50px;
          }
          .shadow-05 {
            @include decal-shadow(250px, 250px, 15px, 5px);
            left: 1050px; top: 150px;
          }
          .shadow-06 {
            @include decal-shadow(250px, 250px, 15px, 5px);
            left: 1300px; top: 400px;
          }
          .shadow-07 {
            @include decal-shadow(250px, 250px, 15px, 5px);
            left: 1550px; top: 150px;
          }
          .shadow-08 {
            @include decal-shadow(250px, 250px, 15px, 5px);
            left: 600px; top: 650px;
          }
          .shadow-09 {
            @include decal-shadow(150px, 150px, 15px, 5px);
            left: 850px; top: 900px;
          }
          .shadow-10 {
            @include decal-shadow(150px, 150px, 15px, 5px);
            left: 1550px; top: 900px;
          }
          .shadow-11 {
            @include decal-shadow(150px, 150px, 15px, 5px);
            left: 1650px; top: 600px;
          }
        }
      }
      
      .content {
        @include centerAbs(100vw, 100vh);
        .title {
          @include centerAbs(500px, 250px);
          color: white;
          .title-decal {
            background-color: white;
            position: absolute;
            box-shadow: -50px 50px 5px 0px rgba(0,0,0,0.2);
          }
          .top, .bottom {
            width: 500px; height: 20px;
          }
          .left, .right {
            width: 20px; height: 210px;
            top: 20px;
          }
          .top {top: 0;}
          .bottom {bottom: 0;}
          .left {left: 0;}
          .right {right: 0;}
          h1 {
            width: 500px;
            height: 250px;
            line-height: 250px;
            text-align: center;
            font-size: 10rem;
          }
        }
      }
    }

    &.two {
      background: #f5ecec;
      .content {
        @include centerAbs(100vw, 100vh);      
        .decals {
          @include centerAbs(100vw, 100vh);       
          h1 {
            position: absolute;
            top: 0; bottom: 0;
            font-size: 30rem;
            height: 450px;
            line-height: 450px;
            width: 1400px;
            right: -1400px;
            text-align: center;
            margin: auto;
            color: #232323;
            text-shadow: -10px 10px 10px white,
                         10px 10px 10px black,
                         10px 10px 10px white;
          }
        }
        .title {
          @include centerAbs(100vw, 100vh);       
          right: unset;
          margin-top: 25px;
          height: 0;
          overflow: hidden;
          h1 {
            width: 600px;
            height: 200px;
            color: #5824D4;
            text-align: center;
            font-size: 5rem;
            text-shadow: -10px 10px 5px rgba(0,0,0,0.1);
          }
        }
        .services {
          width: 1500px;
          bottom: 100px;
          left: 0; right: 0;
          height: 400px;
          margin: auto;
          position: absolute;
          .service {
            width: 300px;
            height: 100%;
            float: left;
            padding: 25px;
            box-sizing: border-box;
            margin: 0 100px;
            position: relative;
            transform: scale(0);
            opacity: 0;
            .shadows {
              .title-decal {
                background-color: #5824D4;
                position: absolute;
                box-shadow: -50px 50px 5px 0px rgba(0,0,0,0.1);
                &.bottom, &.top {
                  width: 300px;
                  height: 20px;
                  left: 0;
                }
                &.left, &.right {
                  width: 20px;
                  height: 360px;
                  top: 20px;
                }
                &.top {top: 0;}
                &.bottom {bottom: 0;}
                &.right { right: 0; }
                &.left {left: 0;}
              }
            }
            .service-title {
              font-size: 2rem;
              left: -50px;
              top: -80px;
              position: absolute;
            }
            .service-desc {
              text-align: center;
              font-size: 1rem;
              padding: 0 5px;
            }
          }
        }
      }
    }

    &.three {
      background: #f5ecec;
      .content {
        @include centerAbs(100vw, 100vh);      
        .decals {
          @include centerAbs(100vw, 100vh);
          .left-decal {
            width: 500px;
            height: 0px;
            position: absolute;
            left: 200px;
            overflow: hidden;
            top: 0; bottom: 0;
            margin: auto;
            .btn {
              position: absolute;
              width: 200px;
              height: 50px;
              left: 0; right: 0;
              top: 0; bottom: 0;
              margin: auto;
              text-align: center;
              line-height: 50px;
              color: #5824D4;
              text-decoration: none;
              font-size: 1.1rem;
              border: 2px solid #5824D4;
              cursor: pointer;
              background-color: #f5ecec;
              z-index: 9;
            }
            .left-group, .right-group {
              position: absolute;
              width: 500px;
              height: 500px;;
            }
            .cube {
              position: absolute;
              background-color: #5824D4;
              box-shadow: -50px 50px 15px 0px rgba(0,0,0,0.2);
              &.top, &.bottom {
                width: 500px;
                height: 10px;
              }
              &.left, &.right {
                height: 500px;
                width: 10px;
              }
              &.top {top: 0px;}
              &.bottom {bottom: 0;}
              &.left {left: 0;}
              &.right { right: 0;}
            }
          }      
        }
        .title {
          position: absolute;
          right: 100px;
          width: 450px;
          height: 0px;
          bottom: unset;
          overflow: hidden;
          top: 150px;
          h1 {
            color: #5824D4;
            margin-left: 20px;
            line-height: 80px;
            font-size: 3rem;
          }
        }
        .subtitle {
          position: absolute;
          right: 100px;
          width: 450px;
          height: 40px;
          bottom: unset;
          top: 350px;
          transform: scale(0);
          h2 {
            color: #5824D4;
            line-height: 40px;
            font-size: 1.1rem;
          }
        }
        .details {
          position: absolute;
          right: 100px;
          width: 450px;
          bottom: unset;
          top: 450px;
          transform: scale(0);
        }
      }
    }
    &.four {
      background: #f5ecec;
      .content {
        @include centerAbs(100vw, 100vh);      
        .decals {
          @include centerAbs(100vw, 100vh);
        }
        .title {
          position: absolute;
          left: 50px;
          width: 450px;
          height: 0;
          bottom: unset;
          overflow: hidden;
          top: 100px;
          h1 {
            color: #5824D4;
            line-height: 80px;
            font-size: 5rem;
          }
        }
        .details {
          position: absolute;
          left: 50px;
          width: 450px;
          top: 210px;
          transform: scale(0);
        }
        .contactus {
          position: absolute;
          background-color: #5824D4;
          width: 0px; height: 0px;
          overflow: hidden;
          right: 0;
          top: 150px;
          right: 150px;
          border-radius:9% 91% 30% 70% / 14% 50% 50% 86%;
          transition: 0.5s;
          &:hover {
            border-radius: 51% 85% 66% 75% / 80% 86% 56% 54% ;
          }
          input {
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            margin: auto;
            width: 200px;
            border: none; 
            padding: 10px;
            height: 30px;
            text-align: center;
            background: transparent;
            border-bottom: 2px solid white;
            color: white;
            font-family: 'Poppins';
            transform: scale(0);
          }
        }
        .footer {
          width: 650px;
          position: absolute;
          bottom: 0;
          height: 100px;
          padding: 0 50px;
          box-sizing: border-box;
          transform: scale(10);
          opacity: 0;
          p {
            line-height: 100px;
            a {
              color: #5824D4;
              font-weight: 600;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

@media(max-width: 1500px) {
  .body-wrapper {
    .slide {
      &.two {
        .content {
          .services {
            width: 1200px;
            .service {margin: 0 50px;}
          }
        }
      }
    }
  }
}

@media(max-width: 1350px) {
  .body-wrapper {
    .slide {
      &.three {
        .content {
          .decals {
            .left-decal {
              width: 400px;
              height: 400px !important;

              left: 150px;
              .left-group, .right-group {width: 400px; height: 400px;}
              .cube {
                &.top, &.bottom {width: 400px;}
                &.left, &.right {height: 400px;}
              }
            }      
          }
          .title {right: 50px; width: 400px;}
          .subtitle {right: 50px; width: 400px;}
          .details {right: 50px; width: 400px;}
        }
      }
    }
  }
}

@media(max-width: 1250px) {
  .body-wrapper {
    .slide {
      &.two {
        .content {
          .services {
            width: 900px;
            height: 350px;
            .service {
              width: 250px;
              margin: 0 25px;
              .shadows {
                .title-decal {
                  &.bottom, &.top {
                    width: 250px;
                    height: 15px;
                  }
                  &.left, &.right {
                    width: 15px;
                    height: 320px;
                    top: 15px;
                  }
                }
              }
              .service-title {
                font-size: 1.8rem;
                left: -25px;
              }
              .service-desc {padding: 0px;}
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1150px) {
  .body-wrapper {
    .slide {
      &.three {
        .content {
          .decals {
            .left-decal {
              width: 350px;
              height: 350px !important;
              left: 50px;
              .btn {
                width: 150px;
                font-size: 1rem;
              }
              .left-group, .right-group {
                width: 350px; height: 350px;
              }
              .cube {
                box-shadow: -25px 25px 15px 0px rgba(0,0,0,0.2);
                &.top, &.bottom {width: 350px;}
                &.left, &.right {height: 350px;}
              }
            }      
          }
          .title {
            width: 350px;
            h1 {font-size: 2.5rem;}
          }
          .subtitle {width: 350px;}
          .details {width: 350px;}
        }
      }
    }
  }
}

@media(max-width: 950px) {
  .body-wrapper {
    .slide {
      &.two {
        height: 200vh;
        .content {
          height: 200vh;
          .decals {
            height: 200vh;
            position: fixed;
            h1 {font-size: 20rem;}
          }
          .title {
            h1 {
              width: 500px;
              height: 150px;
              font-size: 4rem;
            }
          }
          .services {
            width: 100%;
            bottom: unset;
            top: 250px;
            .service {
              width: 300px;
              padding: 20px;
              margin: auto;
              margin-top: 120px;
              float: none;
              .shadows {
                .title-decal {
                  &.bottom, &.top {width: 300px;}
                }
              }
              .service-title {font-size: 2rem;}
              .service-desc {padding: 0 5px;}
            }
          }
        }
      }
      &.three {
        height: 150vh;
        .content {
          height: 150vh;
          .decals {
            top: 400px;
            .left-decal {
              width: 350px;
              height: 350px !important;

              top: 250px; bottom: unset;
              left: 0; right: 0;
              margin: auto;
            }      
          }
          .title {
            width: 50%;
            left: 0; right: 0;
            margin: auto;
            top: 100px;
            h1 {
              text-align: center;
              margin-left: 0px;
            }
          }
          .subtitle {
            width: 50%;
            left: 0; right: 0;
            margin: auto;
            top: 280px;
            h2 {text-align: center;}
          }
          .details {
            right: 0; left: 0;
            margin: auto;
            width: 60%;
            top: 350px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media(max-width: 800px) {
  .body-wrapper {
    .slide {
      &.one {
        .content {
          .title {
            width: 450px;
            .top, .bottom {
              width: 450px; height: 15px;
            }
            .left, .right {
              width: 15px; height: 220px;
              top: 15px;
            }
            h1 {
              width: 450px;
              position: absolute;
              font-size: 8.5rem;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 750px) {
  .body-wrapper {
    .slide {
      &.three {
        .content {
          .decals {
            .left-decal {
              width: 300px;
              height: 300px !important;
              .btn { width: 130px; font-size: 0.9rem; }
              .left-group, .right-group { width: 300px; height: 300px; }
              .cube {
                &.top, &.bottom {width: 300px;}
                &.left, &.right {height: 300px;}
              }
            }      
          }
          .title {
            width: 80%;
            h1 {font-size: 2.3rem;}
          }
        }
      }
    }
  }
}

@media(max-width: 650px) {
  .body-wrapper {
    .slide {
      &.two {
        .content {
          .title {
            h1 {
              width: 100%;
              font-size: 3.5rem;
              text-align: center;
            }
          }
          .services {
            .service {
              .service-title {font-size: 1.8rem;}
            }
          }
        }
      }
      &.three {
        .content {
          .decals {
            .left-decal {
              width: 250px;
              height: 250px !important;
              .left-group, .right-group {
                width: 250px; height: 250px;
              }
              .cube {
                box-shadow: -25px 25px 10px 0px rgba(0,0,0,0.2);
                &.top, &.bottom {
                  width: 250px; height: 5px;
                }
                &.left, &.right {
                  height: 250px; width: 5px;
                }
              }
            }      
          }
        }
      }
    }
  }
}

@media(max-width: 550px) {
  .body-wrapper {
    .slide {
      &.one {
        .content {
          .title {
            width: 400px;
            height: 200px;
            .title-decal {
              box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.2);
            }
            .top, .bottom {
              width: 400px; height: 15px;
            }
            .left, .right {
              height: 170px;
            }
            h1 {
              width: 400px;
              height: 200px;
              line-height: 200px;
              font-size: 7rem;
            }
          }
        }
      }
    }
  }
}


@media(max-width: 500px) {
  .body-wrapper {
    .slide {
      &.two {
        .content {
          .title {
            h1 {font-size: 3rem;}
          }
          .services {
            .service {
              .shadows {
                .title-decal {
                  &.bottom, &.top {height: 10px;}
                  &.left, &.right {
                    width: 10px;
                    height: 330px;
                    top: 10px;
                  }
                }
              }
              .service-title {font-size: 1.5rem; top: -60px;}
              .service-desc {padding: 0px;}
            }
          }
        }
      }
    }
  }
}

@media(max-width: 480px) {
  .body-wrapper {
    .slide {
      &.one {
        .content {
          .title {
            width: 80%;
            height: 180px;
            .title-decal {
              box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.2);
            }
            .top, .bottom {
              width: 100%; height: 10px;
            }
            .left, .right {
              height: 160px;
              width: 10px; 
              top: 10px;
            }
            h1 {
              width: 100%;
              height: 180px;
              line-height: 180px;
              font-size: 5rem;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 450px) {
  .body-wrapper {
    .slide {
      &.three {
        // height: 150vh;
        .content {
          // height: 150vh;
          .decals {
            // top: 400px;
            .left-decal {
              // width: 250px;
              // height: 250px !important;
              // top: 250px;
              //  bottom: unset;
              // left: 0; right: 0;
              // margin: auto
              .btn {
                // width: 130px;
                // height: 50px;
                // left: 0; right: 0;
                // top: 0; bottom: 0;
                // bottom: 150px;
                // line-height: 50px;
                // font-size: 0.9rem;
              }
              .left-group, .right-group {
                // width: 250px;
                // height: 250px;
              }
              .cube {
                // box-shadow: -25px 25px 10px 0px rgba(0,0,0,0.2);
                &.top, &.bottom {
                  // width: 250px;
                  // height: 5px;
                }
                &.left, &.right {
                  // height: 250px;
                  // width: 5px;
                }
              }
            }      
          }
          .title {
            // width: 80%;
            // h1 {font-size: 2.3rem;}
          }
          .subtitle {
            // width: 50%;
            // left: 0; right: 0;
            // margin: auto;

            // height: 40px;
            // top: 280px;
            h2 {
              // text-align: center;
              // line-height: 40px;
              // font-size: 1.1rem;
            }
          }
          .details {
            // right: 0; left: 0;
            // margin: auto;
            // width: 60%;
            // top: 350px;
            // text-align: center;
          }
        }
      }
    }
  }
}

@media(max-width: 400px) {
  .body-wrapper {
    .slide {
      &.two {
        .content {
          .services {
            .service {
              width: 250px;
              .shadows {
                .title-decal {
                  box-shadow: -25px 25px 5px 0px rgba(0,0,0,0.1);
                  &.bottom, &.top {width: 250px;}
                }
              }
              .service-title {font-size: 1.4rem;}
            }
          }
        }
      }
    }
  }
}

@media(max-width: 350px) {
  .body-wrapper {
    .slide {
      &.two {
        .content {
          .services {
            .service {
              width: 200px;
              .shadows {
                .title-decal {
                  &.bottom, &.top {width: 200px;}
                }
              }
              .service-title {font-size: 1.3rem;}
              .service-desc {font-size: 0.9rem;}
            }
          }
        }
      }
    }
  }
}

@media(max-width: 300px) {
  .body-wrapper {
    .slide {
      &.one {.content {.title {h1 {font-size: 4.5rem;}}}}
      &.two {
        .content {
          .services {
            .service {
              .service-title {left: 0; right: 0; text-align: center;}
            }
          }
        }
      }
    }
  }
}

@media(max-width: 250px) {
  .body-wrapper {
    .slide {
      &.one {.content {.title {h1 {font-size: 3.5rem;}}}}
    }
  }
}
