* {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.body-wrapper {
  width: 100%;
  height: 400vh;
}

.body-wrapper .navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
}

.body-wrapper .navbar .logo {
  margin-top: 20px;
  position: absolute;
  width: 150px;
  text-align: center;
  right: 20px;
}

.body-wrapper .navbar .logo p {
  color: white;
  font-size: 2rem;
  line-height: 50px;
}

.body-wrapper .navbar .logo div {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: auto;
}

.body-wrapper .navbar .logo div.tr {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  bottom: unset;
  left: unset;
  right: 0;
}

.body-wrapper .navbar .logo div.tl {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  bottom: unset;
  left: 0;
  right: unset;
}

.body-wrapper .navbar .logo div.br {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: unset;
  bottom: 0;
  left: unset;
  right: 0;
}

.body-wrapper .navbar .logo div.bl {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: unset;
  bottom: 0;
  left: 0;
  right: unset;
}

.body-wrapper .slide {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.body-wrapper .slide.one {
  background: #5824D4;
}

.body-wrapper .slide.one .decals {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.body-wrapper .slide.one .decals .shadows {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.body-wrapper .slide.one .decals .shadows .shadow-01 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: 50px;
}

.body-wrapper .slide.one .decals .shadows .shadow-02 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 150px;
  height: 150px;
  left: 250px;
  top: 250px;
}

.body-wrapper .slide.one .decals .shadows .shadow-03 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: 400px;
}

.body-wrapper .slide.one .decals .shadows .shadow-04 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 300px;
  height: 300px;
  left: 550px;
  top: 50px;
}

.body-wrapper .slide.one .decals .shadows .shadow-05 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 250px;
  height: 250px;
  left: 1050px;
  top: 150px;
}

.body-wrapper .slide.one .decals .shadows .shadow-06 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 250px;
  height: 250px;
  left: 1300px;
  top: 400px;
}

.body-wrapper .slide.one .decals .shadows .shadow-07 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 250px;
  height: 250px;
  left: 1550px;
  top: 150px;
}

.body-wrapper .slide.one .decals .shadows .shadow-08 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 250px;
  height: 250px;
  left: 600px;
  top: 650px;
}

.body-wrapper .slide.one .decals .shadows .shadow-09 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 150px;
  height: 150px;
  left: 850px;
  top: 900px;
}

.body-wrapper .slide.one .decals .shadows .shadow-10 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 150px;
  height: 150px;
  left: 1550px;
  top: 900px;
}

.body-wrapper .slide.one .decals .shadows .shadow-11 {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 150px;
  height: 150px;
  left: 1650px;
  top: 600px;
}

.body-wrapper .slide.one .content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.body-wrapper .slide.one .content .title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 250px;
  color: white;
}

.body-wrapper .slide.one .content .title .title-decal {
  background-color: white;
  position: absolute;
  -webkit-box-shadow: -50px 50px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -50px 50px 5px 0px rgba(0, 0, 0, 0.2);
}

.body-wrapper .slide.one .content .title .top, .body-wrapper .slide.one .content .title .bottom {
  width: 500px;
  height: 20px;
}

.body-wrapper .slide.one .content .title .left, .body-wrapper .slide.one .content .title .right {
  width: 20px;
  height: 210px;
  top: 20px;
}

.body-wrapper .slide.one .content .title .top {
  top: 0;
}

.body-wrapper .slide.one .content .title .bottom {
  bottom: 0;
}

.body-wrapper .slide.one .content .title .left {
  left: 0;
}

.body-wrapper .slide.one .content .title .right {
  right: 0;
}

.body-wrapper .slide.one .content .title h1 {
  width: 500px;
  height: 250px;
  line-height: 250px;
  text-align: center;
  font-size: 10rem;
}

.body-wrapper .slide.two {
  background: #f5ecec;
}

.body-wrapper .slide.two .content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.body-wrapper .slide.two .content .decals {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.body-wrapper .slide.two .content .decals h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 30rem;
  height: 450px;
  line-height: 450px;
  width: 1400px;
  right: -1400px;
  text-align: center;
  margin: auto;
  color: #232323;
  text-shadow: -10px 10px 10px white, 10px 10px 10px black, 10px 10px 10px white;
}

.body-wrapper .slide.two .content .title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  right: unset;
  margin-top: 25px;
  height: 0;
  overflow: hidden;
}

.body-wrapper .slide.two .content .title h1 {
  width: 600px;
  height: 200px;
  color: #5824D4;
  text-align: center;
  font-size: 5rem;
  text-shadow: -10px 10px 5px rgba(0, 0, 0, 0.1);
}

.body-wrapper .slide.two .content .services {
  width: 1500px;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 400px;
  margin: auto;
  position: absolute;
}

.body-wrapper .slide.two .content .services .service {
  width: 300px;
  height: 100%;
  float: left;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 100px;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.body-wrapper .slide.two .content .services .service .shadows .title-decal {
  background-color: #5824D4;
  position: absolute;
  -webkit-box-shadow: -50px 50px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -50px 50px 5px 0px rgba(0, 0, 0, 0.1);
}

.body-wrapper .slide.two .content .services .service .shadows .title-decal.bottom, .body-wrapper .slide.two .content .services .service .shadows .title-decal.top {
  width: 300px;
  height: 20px;
  left: 0;
}

.body-wrapper .slide.two .content .services .service .shadows .title-decal.left, .body-wrapper .slide.two .content .services .service .shadows .title-decal.right {
  width: 20px;
  height: 360px;
  top: 20px;
}

.body-wrapper .slide.two .content .services .service .shadows .title-decal.top {
  top: 0;
}

.body-wrapper .slide.two .content .services .service .shadows .title-decal.bottom {
  bottom: 0;
}

.body-wrapper .slide.two .content .services .service .shadows .title-decal.right {
  right: 0;
}

.body-wrapper .slide.two .content .services .service .shadows .title-decal.left {
  left: 0;
}

.body-wrapper .slide.two .content .services .service .service-title {
  font-size: 2rem;
  left: -50px;
  top: -80px;
  position: absolute;
}

.body-wrapper .slide.two .content .services .service .service-desc {
  text-align: center;
  font-size: 1rem;
  padding: 0 5px;
}

.body-wrapper .slide.three {
  background: blanchedalmond;
}

.body-wrapper .slide.four {
  background: bisque;
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=styles.css.map */